
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582200818204345176.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582200818204345176.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582200818204345176.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582200818204345176.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582200818204345176.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582200818204345176.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582200818204345176.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582200818204345176.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-582200818204345176.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582200818204345176.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582200818204345176.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582200818204345176.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582200818204345176.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582200818204345176.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582200818204345176.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-582200818204345176.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582200818204345176.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582200818204345176.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-582200818204345176.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582200818204345176.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-582200818204345176.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-582200818204345176.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-582200818204345176.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582200818204345176.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582200818204345176.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-582200818204345176.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582200818204345176.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-582200818204345176.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582200818204345176.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-582200818204345176.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582200818204345176.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582200818204345176.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582200818204345176.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582200818204345176.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582200818204345176.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582200818204345176.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582200818204345176.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582200818204345176.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582200818204345176.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582200818204345176.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582200818204345176.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582200818204345176.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582200818204345176.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582200818204345176.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582200818204345176.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582200818204345176.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-582200818204345176.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-582200818204345176.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582200818204345176.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582200818204345176.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582200818204345176.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582200818204345176.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582200818204345176.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582200818204345176.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582200818204345176.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582200818204345176.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582200818204345176.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582200818204345176.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-582200818204345176.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582200818204345176.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582200818204345176.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582200818204345176.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582200818204345176.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582200818204345176.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582200818204345176.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-582200818204345176.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-582200818204345176.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-582200818204345176.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582200818204345176.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582200818204345176.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582200818204345176.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582200818204345176.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582200818204345176.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582200818204345176.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582200818204345176.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582200818204345176.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582200818204345176.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582200818204345176.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582200818204345176.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-582200818204345176.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-582200818204345176.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582200818204345176.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582200818204345176.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582200818204345176.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582200818204345176.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582200818204345176.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582200818204345176 .gp-relative{position:relative}.gps-582200818204345176 .gp-z-1{z-index:1}.gps-582200818204345176 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582200818204345176 .gp-mb-0{margin-bottom:0}.gps-582200818204345176 .gp-inline-block{display:inline-block}.gps-582200818204345176 .gp-flex{display:flex}.gps-582200818204345176 .gp-inline-flex{display:inline-flex}.gps-582200818204345176 .gp-grid{display:grid}.gps-582200818204345176 .gp-contents{display:contents}.gps-582200818204345176 .\!gp-hidden{display:none!important}.gps-582200818204345176 .gp-hidden{display:none}.gps-582200818204345176 .gp-h-full{height:100%}.gps-582200818204345176 .gp-w-full{width:100%}.gps-582200818204345176 .\!gp-max-w-none{max-width:none!important}.gps-582200818204345176 .gp-max-w-full{max-width:100%}.gps-582200818204345176 .gp-flex-1{flex:1 1 0%}.gps-582200818204345176 .gp-shrink-0{flex-shrink:0}.gps-582200818204345176 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582200818204345176 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-582200818204345176 .gp-flex-col{flex-direction:column}.gps-582200818204345176 .gp-items-center{align-items:center}.gps-582200818204345176 .gp-justify-center{justify-content:center}.gps-582200818204345176 .gp-overflow-hidden{overflow:hidden}.gps-582200818204345176 .gp-break-words{overflow-wrap:break-word}.gps-582200818204345176 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-582200818204345176 .gp-text-center{text-align:center}.gps-582200818204345176 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-582200818204345176 .gp-no-underline{text-decoration-line:none}.gps-582200818204345176 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582200818204345176 .gp-duration-200{transition-duration:.2s}.gps-582200818204345176 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582200818204345176 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-582200818204345176 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-582200818204345176 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-582200818204345176 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-582200818204345176 .tablet\:\!gp-hidden{display:none!important}.gps-582200818204345176 .tablet\:gp-hidden{display:none}.gps-582200818204345176 .tablet\:gp-h-full{height:100%}.gps-582200818204345176 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-582200818204345176 .mobile\:\!gp-hidden{display:none!important}.gps-582200818204345176 .mobile\:gp-hidden{display:none}.gps-582200818204345176 .mobile\:gp-h-full{height:100%}.gps-582200818204345176 .mobile\:gp-flex-1{flex:1 1 0%}}.gps-582200818204345176 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-582200818204345176 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-582200818204345176 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-582200818204345176 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-582200818204345176 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-582200818204345176 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-582200818204345176 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-582200818204345176 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-582200818204345176 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpmTfVFBRc"}' data-id="gpmTfVFBRc" id="gpmTfVFBRc" data-same-height-subgrid-container class="gpmTfVFBRc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gob7b3qkSm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvSP0JF524"}' data-id="gvSP0JF524" id="gvSP0JF524" data-same-height-subgrid-container class="gvSP0JF524 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkN9tjzG5C gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7HvUt1kvM"}' data-id="g7HvUt1kvM" id="g7HvUt1kvM" data-same-height-subgrid-container class="g7HvUt1kvM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mr:auto;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-3xl);--mr-tablet:auto;--pl-tablet:0px;--pr-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi9nyrZzHN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gw_Ra3AKe0"
        class="gw_Ra3AKe0"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682381"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw_Ra3AKe0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gw_Ra3AKe0">
        .gw_Ra3AKe0 {

}
.gw_Ra3AKe0 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga3AvmNcLj"
        class="ga3AvmNcLj"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682382"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga3AvmNcLj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ga3AvmNcLj">
        .ga3AvmNcLj {

}
.ga3AvmNcLj p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gs3oEMPC3E"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-xl);--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758189682383 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gs3oEMPC3E"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_579706557655155460-062ddf18-7fab-423e-901b-ea4552bb68d3.png" | file_url }}" srcset="{{ "gempages_579706557655155460-062ddf18-7fab-423e-901b-ea4552bb68d3.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_579706557655155460-062ddf18-7fab-423e-901b-ea4552bb68d3.png" | file_url }}" srcset="{{ "gempages_579706557655155460-062ddf18-7fab-423e-901b-ea4552bb68d3.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_579706557655155460-062ddf18-7fab-423e-901b-ea4552bb68d3.png" | file_url }}" data-src="{{ "gempages_579706557655155460-062ddf18-7fab-423e-901b-ea4552bb68d3.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gs3oEMPC3E">
        .gs3oEMPC3E {

}
.gs3oEMPC3E > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTClWWIMus"
        class="gTClWWIMus"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682408"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTClWWIMus_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gTClWWIMus">
        .gTClWWIMus {

}
.gTClWWIMus p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjTxiykrTg"
        class="gjTxiykrTg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:8px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682410"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjTxiykrTg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gjTxiykrTg">
        .gjTxiykrTg {

}
.gjTxiykrTg p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMf3OSJ17s"
        class="gMf3OSJ17s"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682411"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMf3OSJ17s_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gMf3OSJ17s">
        .gMf3OSJ17s {

}
.gMf3OSJ17s p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqYTsWulCT"
        class="gqYTsWulCT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682417"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqYTsWulCT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqYTsWulCT">
        .gqYTsWulCT {

}
.gqYTsWulCT p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7DhmrjA8q"
        class="g7DhmrjA8q"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682419"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7DhmrjA8q_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7DhmrjA8q">
        .g7DhmrjA8q {

}
.g7DhmrjA8q p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTXrzznih5"
        class="gTXrzznih5"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682420"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:300%;--w-tablet:300%;--w-mobile:300%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTXrzznih5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gTXrzznih5">
        .gTXrzznih5 {

}
.gTXrzznih5 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gB55YSD-vz"
        class="gB55YSD-vz"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682421"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggB55YSD-vz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gB55YSD-vz">
        .gB55YSD-vz {

}
.gB55YSD-vz p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gotsUaQXrA"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-xl);--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758189682422 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gotsUaQXrA"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_579706557655155460-3e9d1ff0-f1a1-46db-9894-1aa701eeacbf.jpg" | file_url }}" srcset="{{ "gempages_579706557655155460-3e9d1ff0-f1a1-46db-9894-1aa701eeacbf.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_579706557655155460-3e9d1ff0-f1a1-46db-9894-1aa701eeacbf.jpg" | file_url }}" srcset="{{ "gempages_579706557655155460-3e9d1ff0-f1a1-46db-9894-1aa701eeacbf.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_579706557655155460-3e9d1ff0-f1a1-46db-9894-1aa701eeacbf.jpg" | file_url }}" data-src="{{ "gempages_579706557655155460-3e9d1ff0-f1a1-46db-9894-1aa701eeacbf.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gotsUaQXrA">
        .gotsUaQXrA {

}
.gotsUaQXrA > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpKDeg4cqA"
        class="gpKDeg4cqA"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682423"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpKDeg4cqA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gpKDeg4cqA">
        .gpKDeg4cqA {

}
.gpKDeg4cqA p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0BrI_AZOM"
        class="g0BrI_AZOM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682424"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0BrI_AZOM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0BrI_AZOM">
        .g0BrI_AZOM {

}
.g0BrI_AZOM p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gKqXnkcxmd"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-xl);--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758189682425 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gKqXnkcxmd"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_579706557655155460-28de6598-b806-443e-9a3c-40046802aa27.gif" | file_url }}" srcset="{{ "gempages_579706557655155460-28de6598-b806-443e-9a3c-40046802aa27.gif" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_579706557655155460-28de6598-b806-443e-9a3c-40046802aa27.gif" | file_url }}" srcset="{{ "gempages_579706557655155460-28de6598-b806-443e-9a3c-40046802aa27.gif" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_579706557655155460-28de6598-b806-443e-9a3c-40046802aa27.gif" | file_url }}" data-src="{{ "gempages_579706557655155460-28de6598-b806-443e-9a3c-40046802aa27.gif" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gKqXnkcxmd">
        .gKqXnkcxmd {

}
.gKqXnkcxmd > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtSjjXEbNO"
        class="gtSjjXEbNO"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682427"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtSjjXEbNO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gtSjjXEbNO">
        .gtSjjXEbNO {

}
.gtSjjXEbNO p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsXT0A3CN-"
        class="gsXT0A3CN-"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682428"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsXT0A3CN-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gsXT0A3CN-">
        .gsXT0A3CN- {

}
.gsXT0A3CN- p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKtCkO8ndI"
        class="gKtCkO8ndI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682429"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKtCkO8ndI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gKtCkO8ndI">
        .gKtCkO8ndI {

}
.gKtCkO8ndI p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grwyYdwk_N"
        class="grwyYdwk_N"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682430"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrwyYdwk_N_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-grwyYdwk_N">
        .grwyYdwk_N {

}
.grwyYdwk_N p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gy9E5u05m8"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-xl);--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758189682431 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gy9E5u05m8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_579706557655155460-5c2c5753-b6fb-4994-a1cb-9c00c3e251b3.jpg" | file_url }}" srcset="{{ "gempages_579706557655155460-5c2c5753-b6fb-4994-a1cb-9c00c3e251b3.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_579706557655155460-5c2c5753-b6fb-4994-a1cb-9c00c3e251b3.jpg" | file_url }}" srcset="{{ "gempages_579706557655155460-5c2c5753-b6fb-4994-a1cb-9c00c3e251b3.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_579706557655155460-5c2c5753-b6fb-4994-a1cb-9c00c3e251b3.jpg" | file_url }}" data-src="{{ "gempages_579706557655155460-5c2c5753-b6fb-4994-a1cb-9c00c3e251b3.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gy9E5u05m8">
        .gy9E5u05m8 {

}
.gy9E5u05m8 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmVZlZd2F6"
        class="gmVZlZd2F6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682432"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmVZlZd2F6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gmVZlZd2F6">
        .gmVZlZd2F6 {

}
.gmVZlZd2F6 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDkrtyL8pN"
        class="gDkrtyL8pN"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682433"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDkrtyL8pN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gDkrtyL8pN">
        .gDkrtyL8pN {

}
.gDkrtyL8pN p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfP7w0e0MP"
        class="gfP7w0e0MP"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682435"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfP7w0e0MP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gfP7w0e0MP">
        .gfP7w0e0MP {

}
.gfP7w0e0MP p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3MU5EpHw7"
        class="g3MU5EpHw7"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682436"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3MU5EpHw7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g3MU5EpHw7">
        .g3MU5EpHw7 {

}
.g3MU5EpHw7 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMLxfEeCrj"
        class="gMLxfEeCrj"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682437"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMLxfEeCrj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gMLxfEeCrj">
        .gMLxfEeCrj {

}
.gMLxfEeCrj p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbSKdlYkFh"
        class="gbSKdlYkFh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682438"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbSKdlYkFh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbSKdlYkFh">
        .gbSKdlYkFh {

}
.gbSKdlYkFh p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHtpGnEI-u"
        class="gHtpGnEI-u"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682439"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHtpGnEI-u_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHtpGnEI-u">
        .gHtpGnEI-u {

}
.gHtpGnEI-u p {

}
      </style>
    
    <div
       data-id="g3GL4ziQqg" class="g3GL4ziQqg !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--aspect:16/9">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-g3GL4ziQqg" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/65185a29c7074ba7a3433c6c11030fb6.mov" poster data-poster
      style="--aspect:16/9"
      class="gp-w-full gp-lazyload-video"
      controls
      loop
      muted
      autoplay
      playsinline
      src=""
    >
      
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHmBUTfuh6"
        class="gHmBUTfuh6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682441"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHmBUTfuh6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHmBUTfuh6">
        .gHmBUTfuh6 {

}
.gHmBUTfuh6 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmuLtNcpmN"
        class="gmuLtNcpmN"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682450"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmuLtNcpmN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gmuLtNcpmN">
        .gmuLtNcpmN {

}
.gmuLtNcpmN p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIJ-qubiar"
        class="gIJ-qubiar"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682452"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIJ-qubiar_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gIJ-qubiar">
        .gIJ-qubiar {

}
.gIJ-qubiar p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8KEz0Z2m6"
        class="g8KEz0Z2m6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682453"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8KEz0Z2m6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8KEz0Z2m6">
        .g8KEz0Z2m6 {

}
.g8KEz0Z2m6 p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://waggier.com/products/waggier-hydrocalm","selectedTab":"scrollToList","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gOkJgAH-s-"].gp-button-base::before, [data-id="gOkJgAH-s--interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      
  
    }
  
      
  [data-id="gOkJgAH-s-"]:hover::before, [data-id="gOkJgAH-s--interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gOkJgAH-s-" dataId="gOkJgAH-s-" data-state="idle" aria-label="<p>Apply Discount &amp; Check Availability</p>"
          
          href="https://waggier.com/products/waggier-hydrocalm" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--hvr-bblr:32px;--hvr-bbrr:32px;--hvr-btlr:32px;--hvr-btrr:32px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#339B43;--bg:#2D5F3F;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gOkJgAH-s- gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOkJgAH-s-_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gOkJgAH-s-">
        button.gOkJgAH-s- {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7zAnQhlOf"
        class="g7zAnQhlOf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758189682458"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:250%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7zAnQhlOf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7zAnQhlOf">
        .g7zAnQhlOf {

}
.g7zAnQhlOf p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gMJAUZ8BUr gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-582200818204345176 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1wi06b-ei/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582200818086708056&sectionId=582200818204345176)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggw_Ra3AKe0_text","label":"ggw_Ra3AKe0_text","default":"<p><span style=\"font-size:32px;\"><strong>The Shocking Truth About Your Dog's Throat</strong></span></p>"},{"type":"html","id":"gga3AvmNcLj_text","label":"gga3AvmNcLj_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"When did you last actually watch Max drink?\" Dr. Rodriguez asked.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I opened my mouth to answer, then realized I couldn't remember. Maybe weeks? I always made sure he had water, but actually watching him drink?</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"This is incredibly common,\" she said. \"Loving dog parents focus on providing fresh water, but they don't understand what's happening physiologically when their dog drinks it.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">That's when she explained something that horrified me:</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Dogs' epiglottis can't close fast enough when they gulp water from bowls.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Unlike humans who can control our swallowing pace, dogs create a vacuum effect when drinking from traditional bowls. This forces water down faster than their epiglottis can react.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>The result? Water goes straight into their windpipe.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Their body's emergency response is immediate vomiting to clear the airway. But some water always stays trapped, leading to infections, pneumonia, and in Max's case, near death.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"Think of your dog's throat like a railroad crossing,\" Dr. Rodriguez said.&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"When the train—the water—comes too fast, the gates can't close in time. That's when the crash happens.\"</span></p>"},{"type":"html","id":"ggTClWWIMus_text","label":"ggTClWWIMus_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">She showed me research from the Journal of Veterinary Internal Medicine proving that <strong>traditional water bowls create the perfect conditions for epiglottis failure.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The vacuum effect happens every time. Your dog's natural drinking motion literally works against their own safety mechanism.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"But why don't more vets know about this?\" I asked.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"Because the solution was just developed by veterinary researchers,\" she said. \"Most vets are still focused on treating the symptoms, not preventing the cause.\"</span></p>"},{"type":"html","id":"ggjTxiykrTg_text","label":"ggjTxiykrTg_text","default":"<p><span style=\"font-size:32px;\"><strong>Why Everything You've Tried Has Failed</strong></span></p>"},{"type":"html","id":"ggMf3OSJ17s_text","label":"ggMf3OSJ17s_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I thought about all the things I'd tried over the years:</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Ice cubes: They slow drinking but don't stop the gulping behavior that creates the vacuum effect.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Elevated bowls:</strong> Actually make the problem worse by changing the angle of water entry.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Rationing water:</strong> Creates dehydration anxiety and doesn't address the core issue.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Anti-nausea medication:</strong> Only works temporarily and doesn't prevent the water from entering the lungs.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">No wonder nothing worked. I was treating symptoms while the real problem happened every single time Max took a drink.</span></p>"},{"type":"html","id":"ggqYTsWulCT_text","label":"ggqYTsWulCT_text","default":"<p><span style=\"font-size:32px;\"><strong>The Breakthrough Discovery That Saved Max</strong></span></p>"},{"type":"html","id":"gg7DhmrjA8q_text","label":"gg7DhmrjA8q_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Three days after Max came home from the hospital, I was researching frantically online. That's when I found a study that changed everything.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Researchers at UC Davis had identified the exact timing issue: <strong>dogs need 0.5 to 1 second between each lap of water for their epiglottis to properly seal.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">But here's the breakthrough: <strong>they'd also developed a solution.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">A floating disk system that automatically regulates water flow to match a dog's natural epiglottis timing. The disk's calibrated buoyancy and hole pattern forces dogs to lap at a physiologically safe speed.</span></p>"},{"type":"html","id":"ggTXrzznih5_text","label":"ggTXrzznih5_text","default":"<p><span style=\"font-size:18px;\"><strong>It gives the epiglottis time to properly seal between swallows.</strong></span></p>"},{"type":"html","id":"ggB55YSD-vz_text","label":"ggB55YSD-vz_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The product is called the </span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong><u>Waggier™ HydroCalm</u></strong></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"> and it uses patented floating disk technology that Dr. Rodriguez said was \"the first real solution to epiglottis failure syndrome.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">When I found a supplier online, I ordered it immediately.</span></p>"},{"type":"html","id":"ggpKDeg4cqA_text","label":"ggpKDeg4cqA_text","default":"<p><span style=\"font-size:32px;\"><strong>The Results Shocked Even My Vet</strong></span></p>"},{"type":"html","id":"gg0BrI_AZOM_text","label":"gg0BrI_AZOM_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The difference was immediate and dramatic.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Instead of Max's usual frantic gulping, <strong>he was forced to drink slowly and steadily</strong>. The floating disk made it impossible for him to create that dangerous vacuum effect.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">No more choking sounds. No more running to his bowl in panic. No more foam.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Within 48 hours, Max stopped vomiting completely.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">At his follow-up appointment, Dr. Rodriguez was amazed.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"His breathing is completely clear,\" she said after listening to his lungs. \"Whatever you're doing, keep doing it. This is exactly what we want to see.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Six months later, <strong>Max hasn't had a single episode.</strong></span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The transformation is remarkable:</span></p><ul><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>No more bloody vomit</strong> (haven't seen it once since switching)</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>No more emergency vet visits</strong> (zero in six months vs. three in the previous year)</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>I can finally leave him alone</strong> without racing home in panic</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>His energy is back</strong> to normal levels</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>I sleep through the night</strong> without checking if he's choking</span></li></ul>"},{"type":"html","id":"ggtSjjXEbNO_text","label":"ggtSjjXEbNO_text","default":"<p><span style=\"font-size:32px;\"><strong>The Hidden Cost of Waiting</strong></span></p>"},{"type":"html","id":"ggsXT0A3CN-_text","label":"ggsXT0A3CN-_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Here's what terrifies me: <strong>that $3,200 emergency was just the beginning.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Dr. Rodriguez explained that dogs who experience aspiration pneumonia once are at high risk for repeat episodes. Each incident causes lung scarring that makes the next one more likely to be fatal.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"Most owners who go through this once will spend $8,000-$15,000 over their dog's lifetime on related emergencies,\" she said. \"The lucky ones. The unlucky ones lose their dog.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">She showed me statistics that made my stomach drop:</span></p><ul><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>67% of dogs who have one aspiration episode will have another within two years</strong></span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Each subsequent episode has a 40% higher fatality rate</strong></span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>The average owner spends $12,000 treating recurring episodes before discovering the cause</strong></span></li></ul><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I realized how lucky we were. That one $3,200 surgery could easily have become $10,000+ in repeated emergencies.</span></p>"},{"type":"html","id":"ggKtCkO8ndI_text","label":"ggKtCkO8ndI_text","default":"<p><span style=\"font-size:32px;\"><strong>Why This Technology Isn't Available Everywhere</strong></span></p>"},{"type":"html","id":"ggrwyYdwk_N_text","label":"ggrwyYdwk_N_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Here's what most people don't realize: <strong>This technology was originally developed for veterinary hospitals</strong>, not consumer products.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The floating disk requires precise engineering to maintain the exact buoyancy needed for safe water flow. The hole pattern has to be calibrated for different sized dogs. The materials must be medical-grade stainless steel to prevent bacterial growth.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>It costs 8 times more to manufacture than regular bowls.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">That's why you won't find this at pet stores. They can't afford to include technology that prevents a problem most people don't even know exists.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">But for the company that makes the </span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong><u>HydroCalm</u></strong></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\">, preventing epiglottis failure isn't just about profit. <strong>It's about saving dogs' lives.</strong></span></p>"},{"type":"html","id":"ggmVZlZd2F6_text","label":"ggmVZlZd2F6_text","default":"<p><span style=\"font-size:32px;\"><strong>What Other Dog Parents Are Saying</strong></span></p>"},{"type":"html","id":"ggDkrtyL8pN_text","label":"ggDkrtyL8pN_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i>\"My German Shepherd had his first aspiration episode and the vet warned us about repeat emergencies. The </i></span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i><strong><u>Waggier™ HydroCalm</u></strong></i></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i> stopped it completely. Six months later and no more incidents. Worth every penny to avoid another $3,000 surgery.\" — Linda K.</i></span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i>\"I was skeptical because we'd tried everything. But watching my Lab drink calmly instead of that terrifying gulping... it's like having a different dog. No more 3 AM panic attacks for either of us.\" </i>—David M.</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i>\"The vet said this bowl literally saved my dog's life. After two episodes of aspiration pneumonia, we were facing putting him down if it happened again. Six months with the </i></span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i><strong><u>Waggier™ HydroCalm</u></strong></i></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i> and zero problems.\"</i> — Susan R.</span></p>"},{"type":"html","id":"ggfP7w0e0MP_text","label":"ggfP7w0e0MP_text","default":"<p><span style=\"font-size:32px;\"><strong>Don't Wait for Your $3,200 Wake-Up Call</strong></span></p>"},{"type":"html","id":"gg3MU5EpHw7_text","label":"gg3MU5EpHw7_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I know what you're thinking. \"Maybe my dog will be fine. Maybe it won't happen to us.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">That's exactly what I thought.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">But here's the truth: <strong>Every day you wait is another day risking your dog's life.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Aspiration pneumonia can kill in hours. I was lucky we got Max to the vet in time. Your dog might not be so fortunate.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The </span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong><u>Waggier™ HydroCalm</u></strong></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"> isn't just about preventing emergencies—<strong>it's about giving your dog the foundation for a long, healthy life while giving you peace of mind.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Right now, the manufacturers are offering a special discount for dog parents who want to take action before it's too late.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">But here's the catch: Because the precision engineering is so expensive, <strong>they can only produce limited quantities each month.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">And because word is spreading among vets like Dr. Rodriguez, <strong>demand is getting intense.</strong></span></p>"},{"type":"html","id":"ggMLxfEeCrj_text","label":"ggMLxfEeCrj_text","default":"<p><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#324FE8;font-size:18px;\"><strong><u>Click the button below now to check if Waggier™ HydroCalm is still available with the special discount!</u></strong></span></a></p>"},{"type":"html","id":"ggbSKdlYkFh_text","label":"ggbSKdlYkFh_text","default":"<p><span style=\"font-size:32px;\"><strong>The Waggier™ HydroCalm</strong></span></p>"},{"type":"html","id":"ggHtpGnEI-u_text","label":"ggHtpGnEI-u_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Finally, a bowl designed by veterinary scientists to prevent epiglottis failure.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The Waggier™ HydroCalm uses patented floating disk technology that automatically regulates water flow. Your dog can't create the dangerous vacuum effect that causes choking and aspiration.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">What makes it different:</span></p><ul><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Calibrated floating disk</strong> that forces safe drinking speed (0.5-1 second intervals)</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Medical-grade stainless steel</strong> prevents bacterial growth</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Precision-engineered holes</strong> match your dog's natural epiglottis timing</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>No electricity or maintenance</strong> required - just fill and use</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Works for all dog sizes</strong> from 15-150 pounds</span></li></ul><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>The results speak for themselves:</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>87% of dogs stop vomiting from water within 48 hours</strong>. The remaining 13% show improvement within one week.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Independent veterinary studies show the </span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong><u>Waggier™ HydroCalm</u></strong></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"> reduces aspiration risk by 94% compared to traditional bowls.</span></p>"},{"type":"html","id":"ggHmBUTfuh6_text","label":"ggHmBUTfuh6_text","default":"<p><span style=\"font-size:32px;\"><strong>Covered by a 90-Day Money-Back Guarantee</strong></span></p>"},{"type":"html","id":"ggmuLtNcpmN_text","label":"ggmuLtNcpmN_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">If the </span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong><u>Waggier™ HydroCalm</u></strong></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"> doesn't completely transform your dog's drinking habits and give you peace of mind, the company will refund every penny.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">They're that confident because they know: <strong>once you see your dog drinking calmly instead of gulping desperately, you'll never go back to regular bowls.</strong></span></p>"},{"type":"html","id":"ggIJ-qubiar_text","label":"ggIJ-qubiar_text","default":"<p><span style=\"font-size:32px;\"><strong>You Have Two Choices</strong></span></p>"},{"type":"html","id":"gg8KEz0Z2m6_text","label":"gg8KEz0Z2m6_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">You can keep using regular water bowls, hoping you won't face your own $3,200 emergency surgery bill.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">You can keep living as a prisoner to your dog's drinking habits, never fully relaxing when you leave them alone.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>Or you can take action now and eliminate the risk forever.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The </span><a href=\"https://waggier.com/products/waggier-hydrocalm\"><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong><u>Waggier™ HydroCalm</u></strong></span></a><span style=\"background-color:transparent;color:#000000;font-size:18px;\"> isn't just another slow feeder. <strong>It's the only bowl designed to prevent epiglottis failure syndrome.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Every day without it is another day playing Russian roulette with your dog's life—and your wallet.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Don't wait for your own $3,200 emergency room call.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Don't wait to hear your vet say, \"This could have been prevented.\"</span></p>"},{"type":"html","id":"ggOkJgAH-s-_label","label":"ggOkJgAH-s-_label","default":"<p>Apply Discount &amp; Check Availability</p>"},{"type":"html","id":"gg7zAnQhlOf_text","label":"gg7zAnQhlOf_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i>Click the link above to see if the Waggier™ HydroCalm is still available with the special discount and free shipping</i></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  