
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-599282836524237401.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-599282836524237401.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-599282836524237401.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-599282836524237401.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-599282836524237401.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-599282836524237401.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-599282836524237401.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-599282836524237401.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-599282836524237401.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-599282836524237401.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-599282836524237401.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-599282836524237401.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-599282836524237401.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-599282836524237401.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-599282836524237401.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-599282836524237401.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-599282836524237401.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-599282836524237401.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-599282836524237401.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-599282836524237401.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-599282836524237401.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-599282836524237401.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-599282836524237401.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-599282836524237401.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-599282836524237401.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-599282836524237401.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-599282836524237401.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-599282836524237401.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-599282836524237401.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-599282836524237401.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-599282836524237401.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-599282836524237401.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-599282836524237401.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-599282836524237401.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-599282836524237401.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-599282836524237401.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-599282836524237401.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-599282836524237401.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-599282836524237401.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-599282836524237401.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-599282836524237401.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-599282836524237401.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-599282836524237401.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-599282836524237401.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-599282836524237401.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-599282836524237401.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-599282836524237401.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-599282836524237401.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-599282836524237401.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-599282836524237401.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-599282836524237401.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-599282836524237401.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-599282836524237401.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-599282836524237401.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-599282836524237401.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-599282836524237401.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-599282836524237401.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-599282836524237401.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-599282836524237401.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-599282836524237401.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-599282836524237401.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-599282836524237401.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-599282836524237401.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-599282836524237401.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-599282836524237401.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-599282836524237401.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-599282836524237401.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-599282836524237401.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-599282836524237401.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-599282836524237401.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-599282836524237401.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-599282836524237401.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-599282836524237401.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-599282836524237401.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-599282836524237401.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-599282836524237401.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-599282836524237401.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-599282836524237401.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-599282836524237401.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-599282836524237401.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-599282836524237401.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-599282836524237401.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-599282836524237401.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-599282836524237401.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-599282836524237401.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-599282836524237401.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-599282836524237401.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-599282836524237401.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-599282836524237401 .gp-relative{position:relative}.gps-599282836524237401 .gp-z-1{z-index:1}.gps-599282836524237401 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-599282836524237401 .gp-mb-0{margin-bottom:0}.gps-599282836524237401 .gp-inline-block{display:inline-block}.gps-599282836524237401 .gp-flex{display:flex}.gps-599282836524237401 .gp-inline-flex{display:inline-flex}.gps-599282836524237401 .gp-grid{display:grid}.gps-599282836524237401 .gp-contents{display:contents}.gps-599282836524237401 .\!gp-hidden{display:none!important}.gps-599282836524237401 .gp-hidden{display:none}.gps-599282836524237401 .gp-h-auto{height:auto}.gps-599282836524237401 .gp-h-full{height:100%}.gps-599282836524237401 .gp-w-full{width:100%}.gps-599282836524237401 .gp-max-w-full{max-width:100%}.gps-599282836524237401 .gp-flex-none{flex:none}.gps-599282836524237401 .gp-shrink-0{flex-shrink:0}.gps-599282836524237401 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-599282836524237401 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-599282836524237401 .gp-flex-col{flex-direction:column}.gps-599282836524237401 .gp-items-center{align-items:center}.gps-599282836524237401 .gp-justify-center{justify-content:center}.gps-599282836524237401 .gp-overflow-hidden{overflow:hidden}.gps-599282836524237401 .gp-break-words{overflow-wrap:break-word}.gps-599282836524237401 .gp-text-center{text-align:center}.gps-599282836524237401 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-599282836524237401 .gp-no-underline{text-decoration-line:none}.gps-599282836524237401 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-599282836524237401 .gp-duration-200{transition-duration:.2s}.gps-599282836524237401 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-599282836524237401 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-599282836524237401 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-599282836524237401 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-599282836524237401 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-599282836524237401 .tablet\:\!gp-hidden{display:none!important}.gps-599282836524237401 .tablet\:gp-hidden{display:none}.gps-599282836524237401 .tablet\:gp-h-auto{height:auto}.gps-599282836524237401 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-599282836524237401 .mobile\:\!gp-hidden{display:none!important}.gps-599282836524237401 .mobile\:gp-hidden{display:none}.gps-599282836524237401 .mobile\:gp-h-auto{height:auto}.gps-599282836524237401 .mobile\:gp-flex-none{flex:none}}.gps-599282836524237401 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-599282836524237401 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-599282836524237401 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-599282836524237401 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-599282836524237401 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-599282836524237401 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpmTfVFBRc"}' data-id="gpmTfVFBRc" id="gpmTfVFBRc" data-same-height-subgrid-container class="gpmTfVFBRc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gob7b3qkSm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvSP0JF524"}' data-id="gvSP0JF524" id="gvSP0JF524" data-same-height-subgrid-container class="gvSP0JF524 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkN9tjzG5C gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7HvUt1kvM"}' data-id="g7HvUt1kvM" id="g7HvUt1kvM" data-same-height-subgrid-container class="g7HvUt1kvM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mr:auto;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-3xl);--mr-tablet:auto;--pl-tablet:0px;--pr-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi9nyrZzHN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gw_Ra3AKe0"
        class="gw_Ra3AKe0"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw_Ra3AKe0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gw_Ra3AKe0">
        .gw_Ra3AKe0 {

}
.gw_Ra3AKe0 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga3AvmNcLj"
        class="ga3AvmNcLj"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga3AvmNcLj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ga3AvmNcLj">
        .ga3AvmNcLj {

}
.ga3AvmNcLj p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g_dH55k6RF"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:19px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:19px;--ta:center"
      class="gp-group/image gp-relative force-publish-1767776893455 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_dH55k6RF"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Poodle-adver-fulldog_blade.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTM5LTgwNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgZmlsbD0idXJsKCNnLTkzOS04MDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MzkiIHRvPSI5MzkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Poodle-adver-fulldog_blade.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTM5LTgwNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgZmlsbD0idXJsKCNnLTkzOS04MDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MzkiIHRvPSI5MzkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Poodle-adver-fulldog_blade.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTM5LTgwNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTM5IiBoZWlnaHQ9IjgwNCIgZmlsbD0idXJsKCNnLTkzOS04MDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MzkiIHRvPSI5MzkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Poodle-adver-fulldog_blade.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4RSZFMspm"
        class="g4RSZFMspm"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4RSZFMspm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4RSZFMspm">
        .g4RSZFMspm {

}
.g4RSZFMspm p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCPGo71nte"
        class="gCPGo71nte"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCPGo71nte_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gCPGo71nte">
        .gCPGo71nte {

}
.gCPGo71nte p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPj7BwB5Z2"
        class="gPj7BwB5Z2"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPj7BwB5Z2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gPj7BwB5Z2">
        .gPj7BwB5Z2 {

}
.gPj7BwB5Z2 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDktVsFHP2"
        class="gDktVsFHP2"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDktVsFHP2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gDktVsFHP2">
        .gDktVsFHP2 {

}
.gDktVsFHP2 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gr5wGArd9g"
        class="gr5wGArd9g"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggr5wGArd9g_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gr5wGArd9g">
        .gr5wGArd9g {

}
.gr5wGArd9g p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gN0kmiIAqT"
        class="gN0kmiIAqT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggN0kmiIAqT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gN0kmiIAqT">
        .gN0kmiIAqT {

}
.gN0kmiIAqT p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpBK09InoI"
        class="gpBK09InoI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpBK09InoI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gpBK09InoI">
        .gpBK09InoI {

}
.gpBK09InoI p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gCRZ8bUpRQ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1767776893465 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gCRZ8bUpRQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "poodle_-_img6_adver.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQ4LTQ5OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgZmlsbD0idXJsKCNnLTc0OC00OTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDgiIHRvPSI3NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "poodle_-_img6_adver.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQ4LTQ5OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgZmlsbD0idXJsKCNnLTc0OC00OTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDgiIHRvPSI3NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "poodle_-_img6_adver.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQ4LTQ5OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQ4IiBoZWlnaHQ9IjQ5OSIgZmlsbD0idXJsKCNnLTc0OC00OTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDgiIHRvPSI3NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "poodle_-_img6_adver.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVUfz-YY0K"
        class="gVUfz-YY0K"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVUfz-YY0K_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVUfz-YY0K">
        .gVUfz-YY0K {

}
.gVUfz-YY0K p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMLxfEeCrj"
        class="gMLxfEeCrj"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMLxfEeCrj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gMLxfEeCrj">
        .gMLxfEeCrj {

}
.gMLxfEeCrj p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp_2pNoe4K"
        class="gp_2pNoe4K"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:8px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--pt-tablet:8px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp_2pNoe4K_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gp_2pNoe4K">
        .gp_2pNoe4K {

}
.gp_2pNoe4K p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9fNScjolT"
        class="g9fNScjolT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9fNScjolT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g9fNScjolT">
        .g9fNScjolT {

}
.g9fNScjolT p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIJ-qubiar"
        class="gIJ-qubiar"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:8px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:8px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:20px;--lh:200%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIJ-qubiar_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gIJ-qubiar">
        .gIJ-qubiar {

}
.gIJ-qubiar p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-9nDusww3"
        class="g-9nDusww3"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:300%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-9nDusww3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g-9nDusww3">
        .g-9nDusww3 {

}
.g-9nDusww3 p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://waggier.com/products/waggier-calmbowl","selectedTab":"scrollToList","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gOkJgAH-s-"].gp-button-base::before, [data-id="gOkJgAH-s--interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      
  
    }
  
      
  [data-id="gOkJgAH-s-"]:hover::before, [data-id="gOkJgAH-s--interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gOkJgAH-s-" dataId="gOkJgAH-s-" data-state="idle" aria-label="<p>Apply Discount &amp; Check Availability</p>"
          
          href="https://waggier.com/products/waggier-calmbowl" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--hvr-bblr:32px;--hvr-bbrr:32px;--hvr-btlr:32px;--hvr-btrr:32px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#339B43;--bg:#2D5F3F;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--weight:600;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px"
          class="gOkJgAH-s- gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-body, body);--weight:600;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:600;--size:23px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOkJgAH-s-_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gOkJgAH-s-">
        button.gOkJgAH-s- {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7zAnQhlOf"
        class="g7zAnQhlOf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:250%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7zAnQhlOf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7zAnQhlOf">
        .g7zAnQhlOf {

}
.g7zAnQhlOf p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gWJm6LBf26 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-599282836524237401 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1wi06b-ei/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=599282836423377497&sectionId=599282836524237401)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggw_Ra3AKe0_text","label":"ggw_Ra3AKe0_text","default":"<p><span style=\"font-size:32px;\"><strong>Pemi's Transformation</strong></span></p>"},{"type":"html","id":"gga3AvmNcLj_text","label":"gga3AvmNcLj_text","default":"<p><span style=\"font-size:18px;\">When Pemi was cleared to eat normally again, I ordered the CalmBowl that same day.</span><br><span style=\"font-size:18px;\">The difference was immediate and remarkable.</span><br><span style=\"font-size:18px;\">Instead of his previous methodical-but-still-urgent eating style—even with his old slow feeder—Pemi approached the CalmBowl with pure curiosity.</span><br><span style=\"font-size:18px;\">He sniffed. Explored. Then started eating with these gentle, natural movements I'd never seen before.</span><br><span style=\"font-size:18px;\"><strong>No neck tension. No rapid swallowing. Just calm, instinctual foraging.</strong></span></p>"},{"type":"html","id":"gg4RSZFMspm_text","label":"gg4RSZFMspm_text","default":"<p><span style=\"font-size:18px;\">The meal that used to take 30 seconds took eight minutes - slowed eating 15x.</span></p><p><span style=\"font-size:18px;\">But more importantly, <strong>I could hear the difference.</strong></span><br><span style=\"font-size:18px;\">Now it was just the peaceful sound of chewing and exploring.</span><br><span style=\"font-size:18px;\">No gulping. No swallowing air. No racing against invisible competitors.</span><br><span style=\"font-size:18px;\"><strong>Eighteen months later, Pemi has never had another issue.</strong></span></p>"},{"type":"html","id":"ggCPGo71nte_text","label":"ggCPGo71nte_text","default":"<p><span style=\"font-size:32px;\"><strong>What Other Dog Parents Are Saying</strong></span></p>"},{"type":"html","id":"ggPj7BwB5Z2_text","label":"ggPj7BwB5Z2_text","default":"<p><span style=\"font-size:18px;\">I'm not the only one who's discovered this.</span><br><span style=\"font-size:18px;\">Sarah M., Great Dane owner: \"Two bloat scares in six months. $8,000 for preventative surgery. Our vet recommended the CalmBowl after. I wish we'd found it sooner. No more panic after every meal.\"</span><br><span style=\"font-size:18px;\">Michael R., Weimaraner owner: \"I thought our regular slow feeder was enough. The difference with the CalmBowl was insane. My dog used to inhale food even with the slow feeder. Now he actually forages. Eight months, zero bloating episodes.\"</span><br><span style=\"font-size:18px;\">David L., German Shepherd owner: \"After losing our first Shepherd to GDV at age 3, I tried everything. Elevated bowls made it worse. Regular slow feeders—he still gulped. The CalmBowl was the only thing that stopped the gulping behavior. He's 7 now. Zero issues.\"</span></p>"},{"type":"html","id":"ggDktVsFHP2_text","label":"ggDktVsFHP2_text","default":"<p><span style=\"font-size:32px;\"><strong>What Makes The CalmBowl Actually Work</strong></span></p>"},{"type":"html","id":"ggr5wGArd9g_text","label":"ggr5wGArd9g_text","default":"<p><span style=\"font-size:18px;\">Here's what makes the Waggier CalmBowl different from every other feeding solution on the market:</span></p><ul><li><span style=\"font-size:18px;\"><strong>Rotating Blade Barrier System: </strong>Blade barriers make scooping impossible, slowing eating 15x</span></li><li><span style=\"font-size:18px;\"><strong>Forces Natural Foraging: </strong>Activates natural foraging instincts, works for all snout shapes</span></li><li><span style=\"font-size:18px;\"><strong>Prevents Air Gulping:</strong> Three-dimensional barriers eliminate gulping motions completely</span></li><li><span style=\"font-size:18px;\"><strong>Medical-Grade Materials: </strong>Premium 304 stainless steel that's dishwasher safe and bacteria-resistant</span></li><li><span style=\"font-size:18px;\"><strong>Works Whether You're There or Not:</strong> Physical barriers work automatically, every meal</span></li></ul>"},{"type":"html","id":"ggN0kmiIAqT_text","label":"ggN0kmiIAqT_text","default":"<p><span style=\"font-size:32px;\"><strong>Don't Wait for Your Emergency</strong></span></p>"},{"type":"html","id":"ggpBK09InoI_text","label":"ggpBK09InoI_text","default":"<p><span style=\"font-size:18px;\">Your dog might not show obvious symptoms when their stomach starts to flip.</span><br><span style=\"font-size:18px;\">They might just pace. Whimper when lying down. Seem restless after meals.</span><br><span style=\"font-size:18px;\">And by the time obvious symptoms appear, you might not have the 30 minutes you need to save them.</span><br><span style=\"font-size:18px;\">Don't wait for your Tuesday evening emergency.</span><br><span style=\"font-size:18px;\">Don't ignore your gut instincts like I almost did.</span><br><span style=\"font-size:18px;\">Don't assume your current feeding setup is protecting your dog from the air gulping that causes 89% of fatal bloat cases.</span><br><span style=\"font-size:18px;\"><strong>The Waggier CalmBowl isn't just another feeding solution. It's scientifically designed to deactivate the competitive feeding trigger that fills your dog's stomach with deadly air.</strong></span><br><span style=\"font-size:18px;\">Pemi is alive today because we caught the subtle signs and found the right solution.</span></p>"},{"type":"html","id":"ggVUfz-YY0K_text","label":"ggVUfz-YY0K_text","default":"<p><span style=\"font-size:18px;\">Your family deserves that same peace of mind.</span><br><span style=\"font-size:18px;\">Every meal without addressing the real trigger is another gamble you might not win.</span><br><span style=\"font-size:18px;\">Right now, you can get the CalmBowl for <strong>35% off</strong> the regular price - but only while supplies last.</span></p>"},{"type":"html","id":"ggMLxfEeCrj_text","label":"ggMLxfEeCrj_text","default":"<p><a href=\"https://waggier.com/products/waggier-calmbowl\" target=\"_blank\"><span style=\"background-color:transparent;color:#324FE8;font-size:18px;\"><strong><u>Click the button below now to check if Waggier CalmBowl is still available with the special discount!</u></strong></span></a></p>"},{"type":"html","id":"ggp_2pNoe4K_text","label":"ggp_2pNoe4K_text","default":"<p><span style=\"font-size:24px;\"><strong>Covered by a 90-Day Money Back Guarantee</strong></span></p>"},{"type":"html","id":"gg9fNScjolT_text","label":"gg9fNScjolT_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">If the CalmBowl doesn't completely transform your dog's eating, Waggier will refund every penny.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">They're that confident because they know: once you see your dog eating calmly instead of gulping desperately, you'll never go back to regular bowls.</span></p>"},{"type":"html","id":"ggIJ-qubiar_text","label":"ggIJ-qubiar_text","default":"<p><span style=\"font-size:32px;\"><strong>You Have Two Choices</strong></span></p>"},{"type":"html","id":"gg-9nDusww3_text","label":"gg-9nDusww3_text","default":"<p><span style=\"font-size:18px;\"><strong>Choice 1: </strong>Keep using regular bowls and pray your dog isn't one of the thousands who develop bloat this year.</span><br><span style=\"font-size:18px;\"><strong>Choice 2: </strong>Take action now and eliminate the risk forever.</span><br><span style=\"font-size:18px;\"><strong>Give your dog the calm, safe eating that could add years to their life.</strong></span><br><span style=\"font-size:18px;\">The CalmBowl costs less than one emergency vet visit.</span><br><span style=\"font-size:18px;\">Every day you wait is another day those gas bubbles could be building in your dog's stomach.</span></p>"},{"type":"html","id":"ggOkJgAH-s-_label","label":"ggOkJgAH-s-_label","default":"<p>Apply Discount &amp; Check Availability</p>"},{"type":"html","id":"gg7zAnQhlOf_text","label":"gg7zAnQhlOf_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><i>Click the link above to see if Waggier is still offering a 35% discount and free shipping</i></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}