
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-579706708650099221.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-579706708650099221.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-579706708650099221.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-579706708650099221.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-579706708650099221.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-579706708650099221.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-579706708650099221.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-579706708650099221.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-579706708650099221.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-579706708650099221.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-579706708650099221.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-579706708650099221.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-579706708650099221.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-579706708650099221.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-579706708650099221.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-579706708650099221.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-579706708650099221.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-579706708650099221.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-579706708650099221.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-579706708650099221.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-579706708650099221.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-579706708650099221.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-579706708650099221.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-579706708650099221.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-579706708650099221.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-579706708650099221.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-579706708650099221.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-579706708650099221.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-579706708650099221.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-579706708650099221.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-579706708650099221.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-579706708650099221.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-579706708650099221.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-579706708650099221.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-579706708650099221.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-579706708650099221.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-579706708650099221.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-579706708650099221.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-579706708650099221.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-579706708650099221.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-579706708650099221.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-579706708650099221.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-579706708650099221.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-579706708650099221.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-579706708650099221.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-579706708650099221.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-579706708650099221.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-579706708650099221.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-579706708650099221.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-579706708650099221.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-579706708650099221.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-579706708650099221.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-579706708650099221.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-579706708650099221.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-579706708650099221.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-579706708650099221.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-579706708650099221.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-579706708650099221.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-579706708650099221.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-579706708650099221.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-579706708650099221.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-579706708650099221.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-579706708650099221.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-579706708650099221.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-579706708650099221.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-579706708650099221.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-579706708650099221.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-579706708650099221.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-579706708650099221.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-579706708650099221.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-579706708650099221.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-579706708650099221.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-579706708650099221.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-579706708650099221.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-579706708650099221.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-579706708650099221.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-579706708650099221.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-579706708650099221.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-579706708650099221.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-579706708650099221.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-579706708650099221.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-579706708650099221.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-579706708650099221.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-579706708650099221.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-579706708650099221.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-579706708650099221.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-579706708650099221.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-579706708650099221.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-579706708650099221.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-579706708650099221.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-579706708650099221.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-579706708650099221.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-579706708650099221.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-579706708650099221.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-579706708650099221.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-579706708650099221.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-579706708650099221.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-579706708650099221.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-579706708650099221 .-gp-translate-x-1\/2,.gps-579706708650099221 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-579706708650099221 .gp-absolute{position:absolute}.gps-579706708650099221 .gp-relative{position:relative}.gps-579706708650099221 .gp-left-0{left:0}.gps-579706708650099221 .gp-left-1\/2{left:50%}.gps-579706708650099221 .gp-top-0{top:0}.gps-579706708650099221 .gp-top-1\/2{top:50%}.gps-579706708650099221 .gp-z-1{z-index:1}.gps-579706708650099221 .gp-z-10{z-index:10}.gps-579706708650099221 .gp-z-9{z-index:9}.gps-579706708650099221 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-579706708650099221 .gp-mb-0{margin-bottom:0}.gps-579706708650099221 .gp-inline-block{display:inline-block}.gps-579706708650099221 .gp-flex{display:flex}.gps-579706708650099221 .gp-inline-flex{display:inline-flex}.gps-579706708650099221 .gp-grid{display:grid}.gps-579706708650099221 .gp-contents{display:contents}.gps-579706708650099221 .\!gp-hidden{display:none!important}.gps-579706708650099221 .gp-hidden{display:none}.gps-579706708650099221 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-579706708650099221 .gp-h-auto{height:auto}.gps-579706708650099221 .gp-h-full{height:100%}.gps-579706708650099221 .gp-w-14{width:56px}.gps-579706708650099221 .gp-w-5{width:20px}.gps-579706708650099221 .gp-w-full{width:100%}.gps-579706708650099221 .\!gp-max-w-none{max-width:none!important}.gps-579706708650099221 .gp-max-w-full{max-width:100%}.gps-579706708650099221 .gp-flex-1{flex:1 1 0%}.gps-579706708650099221 .gp-flex-none{flex:none}.gps-579706708650099221 .gp-shrink-0{flex-shrink:0}.gps-579706708650099221 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-579706708650099221 .-gp-translate-x-1\/2,.gps-579706708650099221 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-579706708650099221 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-579706708650099221 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-579706708650099221 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-579706708650099221 .gp-flex-col{flex-direction:column}.gps-579706708650099221 .gp-flex-wrap{flex-wrap:wrap}.gps-579706708650099221 .gp-items-center{align-items:center}.gps-579706708650099221 .gp-justify-center{justify-content:center}.gps-579706708650099221 .gp-overflow-hidden{overflow:hidden}.gps-579706708650099221 .gp-break-words{overflow-wrap:break-word}.gps-579706708650099221 .gp-rounded{border-radius:4px}.gps-579706708650099221 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-579706708650099221 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-579706708650099221 .gp-bg-cover{background-size:cover}.gps-579706708650099221 .gp-bg-center{background-position:50%}.gps-579706708650099221 .gp-text-center{text-align:center}.gps-579706708650099221 .gp-leading-\[0\]{line-height:0}.gps-579706708650099221 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-579706708650099221 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-579706708650099221 .gp-no-underline{text-decoration-line:none}.gps-579706708650099221 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-579706708650099221 .gp-duration-200{transition-duration:.2s}.gps-579706708650099221 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-579706708650099221 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-579706708650099221 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-579706708650099221 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-579706708650099221 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-579706708650099221 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-579706708650099221 .tablet\:\!gp-hidden{display:none!important}.gps-579706708650099221 .tablet\:gp-hidden{display:none}.gps-579706708650099221 .tablet\:gp-h-auto{height:auto}.gps-579706708650099221 .tablet\:gp-h-full{height:100%}.gps-579706708650099221 .tablet\:gp-flex-1{flex:1 1 0%}.gps-579706708650099221 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-579706708650099221 .mobile\:\!gp-hidden{display:none!important}.gps-579706708650099221 .mobile\:gp-hidden{display:none}.gps-579706708650099221 .mobile\:gp-h-auto{height:auto}.gps-579706708650099221 .mobile\:gp-h-full{height:100%}.gps-579706708650099221 .mobile\:gp-flex-1{flex:1 1 0%}.gps-579706708650099221 .mobile\:gp-flex-none{flex:none}}.gps-579706708650099221 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-579706708650099221 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-579706708650099221 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-579706708650099221 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-579706708650099221 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-579706708650099221 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-579706708650099221 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-579706708650099221 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-579706708650099221 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCw2ZDRvTK"}' data-id="gCw2ZDRvTK" id="gCw2ZDRvTK" data-same-height-subgrid-container class="gCw2ZDRvTK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3OoURPXMl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D5F3F","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzgKB9CnJX"}' data-id="gzgKB9CnJX" id="gzgKB9CnJX" data-same-height-subgrid-container class="gzgKB9CnJX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#2D5F3F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHc1tRhz0T gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtjKvk676L"}' data-id="gtjKvk676L" id="gtjKvk676L" data-same-height-subgrid-container class="gtjKvk676L gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:0px;--pb:16px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdoue931Qb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gOSCH-pKHs"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1760088473833 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gOSCH-pKHs"
    >
      <a
        href="https://waggier.com/pages/dog-owner-exposes-hidden-truth" target="_self" title
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjYwLTIyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0idXJsKCNnLTY2MC0yMjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjAiIHRvPSI2NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjYwLTIyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0idXJsKCNnLTY2MC0yMjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjAiIHRvPSI2NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjYwLTIyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0idXJsKCNnLTY2MC0yMjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjAiIHRvPSI2NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:25%;--w-tablet:25%;--w-mobile:25%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gux54YVFkU gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D5F3F","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gz7tmX96p5"}' data-id="gz7tmX96p5" id="gz7tmX96p5" data-same-height-subgrid-container class="gz7tmX96p5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#2D5F3F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaysIbgqQ5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQiKibq4xv"}' data-id="gQiKibq4xv" id="gQiKibq4xv" data-same-height-subgrid-container class="gQiKibq4xv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:0px;--pb:16px;--pr:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_nj2IHGq0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gnJprJmqUi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:12px;--pl-mobile:24px;--pb-mobile:12px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1760088473879 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gnJprJmqUi"
    >
      <a
        href="https://waggier.com/pages/dog-owner-exposes-hidden-truth" target="_self" title
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjYwLTIyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0idXJsKCNnLTY2MC0yMjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjAiIHRvPSI2NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjYwLTIyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0idXJsKCNnLTY2MC0yMjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjAiIHRvPSI2NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjYwLTIyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjYwIiBoZWlnaHQ9IjIyOCIgZmlsbD0idXJsKCNnLTY2MC0yMjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjAiIHRvPSI2NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_579706557655155460-f16b6ad4-a54f-4746-8c4e-82ed9f484654.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:25%;--w-tablet:25%;--w-mobile:50%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gqOWELMH2a gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  {% render 'gp-section-579706708650099221-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVQ.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4taVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4kaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4saVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4jaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4iaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x5caVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x5OaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4vaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4uaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVQUwaEQbjA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-579706708650099221 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1wi06b-ei/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=579706693684822612&sectionId=579706708650099221)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyN_-3QOIM_text","label":"ggyN_-3QOIM_text","default":"<span style=\"background-color:transparent;color:#000000;font-size:40px;\"><strong>Dog Owner Exposes Hidden Truth: The 30-Minute Timer That Nearly Killed Her Corgi</strong></span>"},{"type":"html","id":"ggo5om_FqSk_text","label":"ggo5om_FqSk_text","default":"<span style=\"background-color:transparent;color:#000000;font-size:30px;\"><strong>Dog Owner Exposes Hidden Truth: The 30-Minute Timer That Nearly Killed Her Corgi</strong></span>"},{"type":"html","id":"ggdGn3gTUFc_text","label":"ggdGn3gTUFc_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,51,51);font-size:16px;\"><i>August 05 2025 at 9:17 AM PST</i></span></p>"},{"type":"html","id":"gguJtS_za6C_text","label":"gguJtS_za6C_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,51,51);font-size:14px;\"><i>August 05 2025 at 9:17 AM PST</i></span></p>"},{"type":"html","id":"ggbePjQG512_text","label":"ggbePjQG512_text","default":"<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(48,48,48);font-size:18px;\">My vet circled the timer on the wall: \"If your dog's stomach flips, you have 30 minutes or she dies.\"</span></p>"},{"type":"html","id":"ggf0eVLYBd5_text","label":"ggf0eVLYBd5_text","default":"<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(48,48,48);font-size:16px;\">My vet circled the timer on the wall: \"If your dog's stomach flips, you have 30 minutes or she dies.\"</span></p>"},{"type":"html","id":"ggy20PqEKKi_text","label":"ggy20PqEKKi_text","default":"<p><span style=\"font-size:24px;\"><strong>I thought Sophie just loved her food.</strong></span></p>"},{"type":"html","id":"ggnYTIMqY-H_text","label":"ggnYTIMqY-H_text","default":"<p><span style=\"font-size:18px;\"><strong>I thought Sophie just loved her food.</strong></span></p>"},{"type":"html","id":"gg6vXvdLMfJ_text","label":"gg6vXvdLMfJ_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Turns out I'd been playing Russian roulette with her life twice a day for three years.</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">If your dog wolfs down their meals in under 60 seconds...</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">If you've ever joked about them being a \"vacuum cleaner\" at dinner time...</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">If you think fast eating is just enthusiasm for food...</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Then what I'm about to share could save your dog's life.</span></p>"},{"type":"html","id":"gg-9xXgvk1e_text","label":"gg-9xXgvk1e_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Turns out I'd been playing Russian roulette with her life twice a day for three years.</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">If your dog wolfs down their meals in under 60 seconds...</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">If you've ever joked about them being a \"vacuum cleaner\" at dinner time...</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">If you think fast eating is just enthusiasm for food...</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Then what I'm about to share could save your dog's life.</span></p>"},{"type":"html","id":"ggQIij90sMN_text","label":"ggQIij90sMN_text","default":"<p><span style=\"font-size:18px;\"><strong>Every single day, 30% of dogs who develop bloat die—even WITH emergency treatment.</strong></span></p>"},{"type":"html","id":"ggjnXWcgXla_text","label":"ggjnXWcgXla_text","default":"<p><span style=\"font-size:18px;\"><strong>Every single day, 30% of dogs who develop bloat die—even WITH emergency treatment.</strong></span></p>"},{"type":"html","id":"ggD4lCia89b_text","label":"ggD4lCia89b_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">And here's the terrifying part: The \"enthusiastic eating\" you laugh about is actually filling your dog's stomach with invisible air bombs that can detonate 20 minutes after any meal.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I'm talking about something vets call GDV—Gastric Dilatation Volvulus.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">But this isn't the obvious emergency you can see coming.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">This is the silent killer that strikes during a normal Tuesday dinner... then gives you exactly 30 minutes to save your dog's life.</span></p>"},{"type":"html","id":"ggCawNWuXmc_text","label":"ggCawNWuXmc_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">And here's the terrifying part: The \"enthusiastic eating\" you laugh about is actually filling your dog's stomach with invisible air bombs that can detonate 20 minutes after any meal.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">I'm talking about something vets call GDV—Gastric Dilatation Volvulus.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">But this isn't the obvious emergency you can see coming.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">This is the silent killer that strikes during a normal Tuesday dinner... then gives you exactly 30 minutes to save your dog's life.</span></p>"},{"type":"html","id":"gg_9gIKZ-vf_text","label":"gg_9gIKZ-vf_text","default":"<p><span style=\"font-size:32px;\"><strong>The Night Everything Changed</strong></span></p>"},{"type":"html","id":"ggGtzg3Q51p_text","label":"ggGtzg3Q51p_text","default":"<p><span style=\"font-size:22px;\"><strong>The Night Everything Changed</strong></span></p>"},{"type":"html","id":"ggUvvGRqEtC_text","label":"ggUvvGRqEtC_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">My name is Jennifer Thompson.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Three years ago, I thought I was a responsible dog owner.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I live in Denver with my husband Mark and our Corgi Sophie. Premium food. Regular vet visits. Daily walks. I did everything right.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Or so I thought...</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Sophie had always wolfed down her food—60 seconds flat for a whole bowl. We used to post videos of her \"eating performances\" that friends found hilarious.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"Look at her go! She must really love that salmon recipe!\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">That Tuesday started like any other dinner time.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Sophie inhaled her kibble as usual. I cleaned her bowl while she wandered to her bed.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Twenty minutes later, I heard a sound I'll never forget.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Not quite a whine. Not quite a retch. Something guttural and wrong.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Sophie was standing in the hallway, sides heaving, trying to vomit but nothing coming up.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Just foam. White foam and desperate gulping sounds.</span></p>"},{"type":"html","id":"ggv-fE606b__text","label":"ggv-fE606b__text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">My name is Jennifer Thompson.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Three years ago, I thought I was a responsible dog owner.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">I live in Denver with my husband Mark and our Corgi Sophie. Premium food. Regular vet visits. Daily walks. I did everything right.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Or so I thought...</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Sophie had always wolfed down her food—60 seconds flat for a whole bowl. We used to post videos of her \"eating performances\" that friends found hilarious.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Look at her go! She must really love that salmon recipe!\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">That Tuesday started like any other dinner time.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Sophie inhaled her kibble as usual. I cleaned her bowl while she wandered to her bed.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Twenty minutes later, I heard a sound I'll never forget.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Not quite a whine. Not quite a retch. Something guttural and wrong.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Sophie was standing in the hallway, sides heaving, trying to vomit but nothing coming up.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Just foam. White foam and desperate gulping sounds.</span></p>"},{"type":"html","id":"ggBZtk9HT9C_text","label":"ggBZtk9HT9C_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Her stomach looked different. Swollen. Tight like a basketball.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"Mark, something's wrong with Sophie!\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">She couldn't sit. Couldn't lie down. Just stood there, head hanging, drooling strings of foam.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">I called our vet's emergency line. The tech's voice changed instantly.</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">\"Get her here immediately. Don't wait. Drive fast but safe.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:18px;\">The panic in her voice told me everything.</span></p>"},{"type":"html","id":"ggO40BEmS0G_text","label":"ggO40BEmS0G_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Her stomach looked different. Swollen. Tight like a basketball.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Mark, something's wrong with Sophie!\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">She couldn't sit. Couldn't lie down. Just stood there, head hanging, drooling strings of foam.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">I called our vet's emergency line. The tech's voice changed instantly.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Get her here immediately. Don't wait. Drive fast but safe.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">The panic in her voice told me everything.</span></p>"},{"type":"html","id":"ggoKytRoRSm_text","label":"ggoKytRoRSm_text","default":"<p><span style=\"font-size:22px;\"><strong>The Race Against Time</strong></span></p>"},{"type":"html","id":"ggPslHpDfS7_text","label":"ggPslHpDfS7_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">During that endless 12-minute drive, Sophie's breathing got shallower. The foam turned pink-tinged.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">The vet tech was waiting in the parking lot with a gurney. No paperwork. No questions. Just movement.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Dr. Martinez appeared in surgical scrubs.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Sophie has GDV. Her stomach has flipped and is cutting off blood supply. We need to operate immediately.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Is she going to—\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"We have maybe 20 minutes before tissue starts dying. I need your consent now.\"</span></p>"},{"type":"html","id":"ggZQMeEYRBB_text","label":"ggZQMeEYRBB_text","default":"<p><span style=\"font-size:18px;\"><strong>$4,800. Four hours of surgery. One blood transfusion.</strong></span></p>"},{"type":"html","id":"ggU-GwWiA-7_text","label":"ggU-GwWiA-7_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Sophie survived.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Barely.</span></p>"},{"type":"html","id":"ggAMy63PkuH_text","label":"ggAMy63PkuH_text","default":"<p><span style=\"font-size:22px;\"><strong>The Shocking Truth Nobody Tells You</strong></span></p>"},{"type":"html","id":"ggHZQmvXCl6_text","label":"ggHZQmvXCl6_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">At 3 AM, while Sophie recovered, Dr. Martinez sat with me.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"This wasn't bad luck,\" she said. \"Fast eating causes dogs to swallow massive amounts of air. That air creates a gas bubble that can flip the stomach at any time.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"But lots of dogs eat fast—\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"And GDV kills more of them than cancer. The difference is cancer takes months. GDV takes minutes.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">She pulled up Sophie's x-rays.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"See this dark area? That's all the air she swallowed. Every fast meal creates this bomb in their stomach.\"</span></p>"},{"type":"html","id":"ggnU68z8dKx_text","label":"ggnU68z8dKx_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">I thought about every meal Sophie had ever eaten. Hundreds of invisible dice rolls.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"We tried tennis balls in her bowl,\" I said weakly.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Dr. Martinez shook her head.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Tennis balls just make them eat around obstacles while still gulping air. The real problem is neurological.\"</span></p>"},{"type":"html","id":"ggNL5VTPt6l_text","label":"ggNL5VTPt6l_text","default":"<p><span style=\"font-size:22px;\"><strong>The Hidden Trigger Your Vet Never Mentioned</strong></span></p>"},{"type":"html","id":"ggloYarTIIr_text","label":"ggloYarTIIr_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Your dog's brain can't tell the difference between eating at home and competing for a carcass in the wild,\" she explained.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"When food is presented in a pile—ANY pile—it triggers their competitive feeding instinct. They're not eating fast because they're hungry. They're eating fast because their brain thinks another wolf might steal their food.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">She showed me a study from the Journal of Veterinary Behavior.</span></p>"},{"type":"html","id":"gg51AmpsfZu_text","label":"gg51AmpsfZu_text","default":"<p><span style=\"font-size:18px;\"><strong>Traditional slow feeders reduced eating speed by 40% but only reduced air intake by 10%.</strong></span></p>"},{"type":"html","id":"gg0R9qjU7Yc_text","label":"gg0R9qjU7Yc_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Speed isn't the enemy. Air is. And air comes from the gulping motion triggered by competitive feeding response.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">All those solutions I'd tried? They slowed the eating but didn't stop the air gulping because the competitive trigger was still firing.</span></p>"},{"type":"html","id":"ggBTEO3jrHK_text","label":"ggBTEO3jrHK_text","default":"<p><span style=\"font-size:22px;\"><strong>The Discovery That Changed Everything</strong></span></p>"},{"type":"html","id":"ggXneSbzlAz_text","label":"ggXneSbzlAz_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Three days later, I brought Sophie home with 14 inches of incision staples.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">That's when my neighbor Sarah stopped by. Her German Shepherd had bloated twice. $12,000 total.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"After the second surgery, our emergency vet told me about something that actually addresses the trigger,\" she said.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">She showed me a video on her phone. Her dog eating calmly, methodically, no gulping motions.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"It's called the PaceBowl. The honeycomb design doesn't just create obstacles—it breaks up the food so dramatically that the brain stops seeing it as one resource to defend.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Watch his neck. See? No lurching gulp. His brain switched from 'compete' to 'explore.' No competitive response means no air gulping.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Eight months since we switched. Zero bloat scares.\"</span></p>"},{"type":"html","id":"ggB1oit-DgG_text","label":"ggB1oit-DgG_text","default":"<p><span style=\"font-size:22px;\"><strong>The Solution That Actually Works</strong></span></p>"},{"type":"html","id":"gg0cfM4t5ns_text","label":"gg0cfM4t5ns_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">I ordered the </span><a href=\"https://waggier.com/products/waggier-pacebowl\"><span style=\"background-color:transparent;color:#324FE8;font-size:16px;\"><u>Waggier PaceBowl</u></span></a><span style=\"background-color:transparent;color:#000000;font-size:16px;\"> that afternoon.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">When it arrived, I was skeptical. Another \"miracle\" solution.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">But Sophie's reaction was immediate and bizarre.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Instead of her usual frantic gulping, she paused. Sniffed. Started eating with careful, exploring movements.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">No neck lurching. No desperate gulps. Just steady, calm eating.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">The meal that used to take 60 seconds took 10 minutes.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">But here's what shocked me: I could HEAR the difference.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Before: Gulp-gulp-gulp-gulp.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Now: Crunch... crunch... explore... crunch.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">No air rushing. No panic. Just eating.</span></p>"},{"type":"html","id":"ggBWEHPkZ7E_text","label":"ggBWEHPkZ7E_text","default":"<p><span style=\"font-size:22px;\"><strong>Why This Design Is Different</strong></span></p>"},{"type":"html","id":"ggWxch0o9E7_text","label":"ggWxch0o9E7_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">The PaceBowl's honeycomb maze pattern does something no other bowl can:</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\"><strong>• Breaks Visual Triggers:</strong> Food isn't in a pile, so the brain doesn't activate competition mode</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\"><strong>• Forces Natural Foraging:</strong> Mimics how dogs would eat scattered prey in nature</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\"><strong>• Prevents Air Gulping:</strong> Without the competitive trigger, dogs don't gulp—they explore</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\"><strong>• Medical-Grade Materials:</strong> Premium stainless steel that's dishwasher safe</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">My vet couldn't believe the change at Sophie's follow-up.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"Show me how you're feeding her.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">I brought the PaceBowl to the appointment.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Dr. Martinez watched Sophie eat for thirty seconds then said something I'll never forget:</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"In fifteen years of practice, this is the first time I've seen a reformed gulper actually stop gulping instead of just slowing down.\"</span></p>"},{"type":"html","id":"gg5NkBOdDm6_text","label":"gg5NkBOdDm6_text","default":"<p><span style=\"font-size:22px;\"><strong>Six Months Later—Zero Emergencies</strong></span></p>"},{"type":"html","id":"ggve-5VFJ7c_text","label":"ggve-5VFJ7c_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Sophie hasn't had a single scare.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">But I think about other dogs every day. The ones whose owners are watching them vacuum dinner tonight, laughing at how \"enthusiastic\" they are.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Not knowing that stomach is filling with air.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Not knowing about the 30-minute death window.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">My friend's Labrador died from GDV last month. Twenty minutes after eating. They didn't make it in time.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">She said what I used to say: \"I thought he just loved his food.\"</span></p>"},{"type":"html","id":"ggEuhtQvi87_text","label":"ggEuhtQvi87_text","default":"<p><span style=\"font-size:22px;\"><strong>The Real Cost of Waiting</strong></span></p>"},{"type":"html","id":"ggd_f2HwbtI_text","label":"ggd_f2HwbtI_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Here's what haunts me: <strong>The PaceBowl costs less than 1% of Sophie's emergency surgery.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">One percent.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">But without that surgery forcing me to learn the truth, I never would have known about the competitive feeding trigger.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Every day you wait is another day of Russian roulette.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Those air bubbles don't just disappear. They accumulate with every meal, waiting for the wrong moment to flip your dog's stomach.</span></p>"},{"type":"html","id":"ggyXOYfsRWH_text","label":"ggyXOYfsRWH_text","default":"<p><span style=\"font-size:22px;\"><strong>What Other Dog Parents Are Saying</strong></span></p>"},{"type":"html","id":"gg9XUyRcqcx_text","label":"gg9XUyRcqcx_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"My Beagle Bailey had two bloat scares in six months—$5,600 total. Since switching to the PaceBowl, it's been 14 months without a single incident. The peace of mind alone is worth it.\" - Patricia M.</span></p><p><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"I was skeptical after trying three other slow feeders. But watching my Lab Oscar actually chew instead of inhale his food? Priceless. No more 2 AM vomit wake-ups!\" - David K.</span></p><p><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">\"The vet said this bowl literally saved my dog's life. The honeycomb design is genius—my German Shepherd went from gulping to grazing. 18 months bloat-free!\" - Susan R.</span></p>"},{"type":"html","id":"gg4FKZWIe28_text","label":"gg4FKZWIe28_text","default":"<p><span style=\"font-size:22px;\"><strong>Don't Wait for Your Tuesday Night Emergency</strong></span></p>"},{"type":"html","id":"ggv-t4Q2bxB_text","label":"ggv-t4Q2bxB_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Right now, Waggier is offering 52% off the PaceBowl for dog parents who want to take action before it's too late.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">But here's the catch: Because of the premium stainless steel and specialized manufacturing, they can only produce limited quantities.</span></p>"},{"type":"html","id":"ggk6fEZeoPc_text","label":"ggk6fEZeoPc_text","default":"<p><a href=\"https://waggier.com/products/waggier-pacebowl\"><span style=\"background-color:transparent;color:#324FE8;font-size:16px;\"><strong><u>Click the button below now to check if Waggier PaceBowl is still available with the special discount!</u></strong></span></a></p>"},{"type":"html","id":"gg8uKrvdrn__text","label":"gg8uKrvdrn__text","default":"<p><span style=\"font-size:18px;\"><strong>Covered by a 90-Day Money Back Guarantee</strong></span></p>"},{"type":"html","id":"ggWU0mwVWh3_text","label":"ggWU0mwVWh3_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">If the PaceBowl doesn't completely transform your dog's eating, Waggier will refund every penny.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">They're that confident because they know: once you see your dog eating calmly instead of gulping desperately, you'll never go back to regular bowls.</span></p>"},{"type":"html","id":"ggy3RbjeAca_text","label":"ggy3RbjeAca_text","default":"<p><span style=\"font-size:22px;\"><strong>You Have Two Choices</strong></span></p>"},{"type":"html","id":"ggKXKZJgesf_text","label":"ggKXKZJgesf_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">You can keep watching your dog inhale their food, hoping tonight isn't the night their stomach flips.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Or you can take action now and eliminate the risk forever.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">GDV doesn't give second chances. One flip, one timer, one race to the vet.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">The PaceBowl isn't just another slow feeder. It's the only bowl designed to deactivate the neurological trigger that causes the air gulping that causes the bloat that kills more dogs than cancer.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\"><strong>Every meal without it is another roll of the dice.</strong></span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Don't wait for the timer on the wall.</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Don't wait to hear your vet say \"if only you'd known sooner.\"</span><br><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Because now you know.</span></p>"},{"type":"html","id":"ggmPn7ViSsL_label","label":"ggmPn7ViSsL_label","default":"<p><span style=\"font-size:18px;\"><strong>Apply Discount&nbsp;</strong></span><br><span style=\"font-size:18px;\"><strong>&amp; Check Availability</strong></span></p>"},{"type":"html","id":"ggPoJQ_DVk-_text","label":"ggPoJQ_DVk-_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:14px;\"><i>Click the link above to see if Waggier is still offering a 52% discount and free shipping</i></span></p>"},{"type":"html","id":"ggCCXcHzDOo_text","label":"ggCCXcHzDOo_text","default":"<p>4.8</p>"},{"type":"html","id":"ggACftQSITD_text","label":"ggACftQSITD_text","default":"<p>|</p>"},{"type":"html","id":"gg7S0dYpw7O_text","label":"gg7S0dYpw7O_text","default":"<p>1,802 Reviews</p>"},{"type":"html","id":"ggxeoTv2n8s_text","label":"ggxeoTv2n8s_text","default":"<span style=\"font-size:28px;\"><strong>Prevents Deadly Bloat &amp; Digestive Issues</strong></span>"},{"type":"html","id":"ggD-nSFaOMU_text","label":"ggD-nSFaOMU_text","default":"<span style=\"font-size:22px;\"><strong>Make Every Meal Last 10X Longer For A Healthy Life with Waggier</strong></span>"},{"type":"html","id":"ggze1a7qNRQ_label","label":"ggze1a7qNRQ_label","default":"<p>Check Availability</p>"},{"type":"html","id":"ggrxlDG1wh1_text","label":"ggrxlDG1wh1_text","default":"<p>4.8</p>"},{"type":"html","id":"ggYxtDJdB47_text","label":"ggYxtDJdB47_text","default":"<p>|</p>"},{"type":"html","id":"ggGFDym_cg-_text","label":"ggGFDym_cg-_text","default":"<p>1,802 Reviews</p>"},{"type":"html","id":"ggeiWzHboRL_text","label":"ggeiWzHboRL_text","default":"<span style=\"font-size:28px;\"><strong>Prevents Deadly Bloat &amp; Digestive Issues</strong></span>"},{"type":"html","id":"gg5V3e5bTMo_text","label":"gg5V3e5bTMo_text","default":"<span style=\"font-size:22px;\"><strong>Make Every Meal Last 10X Longer For A Healthy Life with Waggier PaceBowl</strong></span>"},{"type":"html","id":"gg_sRY83IEE_label","label":"gg_sRY83IEE_label","default":"<p>Check Availability</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  